// src/pages/Reviews/AllReviewsPage/AllReviewsPage.module.scss

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  color: #000000;
}

p {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
